.App {
  text-align: center;
}


.drop {
  display: inline-block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(0%, -100%);
  left: 0;right: 0;
  width: 700px;
  height: 100px;
  margin: auto;
  background-color: #f3f3f3;
  
  padding-bottom: 21px;

}

select {
  width: 50%;
  height: 34px;
}

.Datadisplay {
  width: 45%;
  float: left;
}


.Datadisplay1 {
  width: 55%;
  float: right;
}